
/* Raleway font */

*{
  margin: 0;
  padding: 0;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Inter font */


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Header Styles */

.header{
  background-image: url('../images/nav-bg.png');
  background-repeat: no-repeat;
  background-size: 100vw;
 
 
  
 
}





/* nav styles */

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0  150px;
    padding:50px 0;
    
}

.nav-title{
   font-weight:900;
   font-size: 34px;
    color:#4E47FF;
}
nav a{
  text-decoration: none;
}

/* Shared Styles */


.btn{
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  border:none;
  background-color: #4E47FF;
  color:#FFFFFF;

}

/* End Shared Styles */
.nav-btn{
  height:48px;
  width:132px;
}

/* Banner Styles */

.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  margin: 0 auto;
  gap:37px;
  max-width:900px;
  
  
}

.banner-heading{
  font-weight: bold;
  font-size: 65px;
  text-align: center;

}
.ban-btn{
  height:48px;
  width:175px

}
/* Action Styles */


 .action{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 116px;
  gap:220px;
  
 }
 .left-action{
  display: flex;
  flex-direction: column;
  padding:60px 0;
  gap:23px;


 }
 .image{
  border-radius: 48px;
 }
 .header-section{
  font-weight: bold;
  font-size: 42px;
 }
 .para{
  font-size: 24px;
  color:#252432
 }
 .launch-btn{
  width:230px;
  height:48px;
 }
 
/* Productive Styles */

.productive{
  background-color: #c7c4f5;
  border-radius: 24px;
  padding:50px 140px;
  margin-top: 160px;
  text-align: center;
 
}
.section-title{
  font-weight: bold;
  font-size: 38px;
}
.productive-items{
  display: flex;
  justify-content: space-around;
}
main{
  max-width: 1140px;
  margin:0 auto;
}
.item-title{
  font-weight: bold;
  font-size: 50px;
  color:#4E47FF;

}
.item-description{
  font-size: 20px;
  color:#000000;

}
/* Review Section Styles */
.section-title{
  text-align: center;
}
/* Reviewer Section Styles */
.user-review{
  display: flex;
  flex-direction: column;
  gap:50px;
  margin:140px 0;
}



.review-container{
  display: flex;
  gap:20px;
  
}
.review{
  display: flex;
  flex-direction: column;
  gap:24px;
  padding:24px;
  border-radius: 14px;
  border: none;
  box-shadow: 0px 0px 2px 0px #000000;
 

}
.love-designer{
  display: flex;
  flex-direction: column;
  gap:8px;
}
.user-description{
  display: flex;
  gap:12px;
  
 
}
.user-image{
  border-radius: 50%;
}



